Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ storage, üê≥ ui, üîé backend, üîé init-db, üîé storage, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ‚¨á backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ storage: any of: storage/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé storage: any of: storage/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.5.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update flyway/flyway docker tag to v10.5.0
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.gradle.toolchains.foojay-resolver-convention to v0.8.0
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(renovate): adjust rule for minio update
  .gitlab/renovate.json5
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update minio/minio docker tag to release.2024-01-13t07-53-03z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(renovate): upgrade automatically minio component
  .gitlab/renovate.json5
Due: none

chore(deps): update minio/minio docker tag to release.2024-01-16t16-07-38z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.5
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update bellsoft/liberica-openjdk-debian docker tag to v21.0.2
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.6
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-01-18t22-51-28z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update plugin org.springframework.boot to v3.2.2
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.7
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(url): collocate root url in rss entities
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(rss): extraction of all remaining rss structure for better separation & construction
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/Channel.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/Namespaces.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/Opml.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/Rss.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/RssNamespaces.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(rss): rss item generation is collocated
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/Item.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/RssNamespaces.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(slug): collocate the notion of sluggable items
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/podcastserver/item/Slugable.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/Item.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/Playlist.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/resources/xml/podcast-with-001-items.xml
  backend/src/test/resources/xml/podcast-with-020-items.xml
  backend/src/test/resources/xml/podcast-with-123-items.xml
  backend/src/test/resources/xml/podcast-with-200-items.xml
  backend/src/test/resources/xml/podcast-with-50-items.xml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): support specific characters in slug
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/podcastserver/item/Slugable.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/extension/podcastserver/item/SluggableTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update joseluisq/static-web-server docker tag to v2.25.0
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(deps): update plugin com.gradle.enterprise to v3.16.2
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.8
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.12
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-01-28t22-35-53z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update minio/minio docker tag to release.2024-01-29t03-56-32z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.6.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.flywaydb.flyway to v10.6.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update flyway/flyway docker tag to v10.6.0
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.13
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.14
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update dependency gradle to v8.6
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.15
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.16
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(task): add task for renovate+flyway
  Taskfile.yaml
Due: none

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.7.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-01-31t20-20-33z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update plugin org.flywaydb.flyway to v10.7.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db
