Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 👷 documentation, 🐳 backend, 🐳 init-db, 🐳 storage, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 storage, 🔎 ui

Path conditions:
  ⬇ container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ⬇ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ⬇ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ⬇ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🧪 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  👷 ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 documentation: any of: documentation/**/*
  🐳 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 storage: any of: storage/**/*
  🐳 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🔎 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 storage: any of: storage/**/*
  🔎 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

refactor(backend): move remaining downloaders to dedicated package
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/Downloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloadingInformation.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessageHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessagingTemplate.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/messaging/MessageHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/messaging/MessagingTemplateTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move updaters class to its own package
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/UpdaterSelector.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/UpdateServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/TypeTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/UpdaterSelectorTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.18
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.19
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(release): release version 2024.9.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 🐳 backend, 🐳 init-db, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 ui

chore(deps): update dependency gradle to v8.10.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update docker/dockerfile docker tag to v1.10.0
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): NoOp doesn't inherit from AbstractDownloader
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloader.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): YoutubeDL doesn't inherit from AbstractDownloader
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/Downloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderHelper.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderFactory.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderFactoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): clean up legacy AbstractDownloader inheritance
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/Downloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmepgDownloaderConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): rtmpDownloader doesn't inherit from AbstractDownloader
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderFactory.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderFactoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): remove all logic from abstract download class
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderHelper.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): FfmpegDownloader doesn't inherit from AbstractDownloader
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmepgDownloaderConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderFactory.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/rtmp/RTMPDownloader.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmepgDownloaderConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderFactoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin com.gradle.develocity to v3.18.1
  settings.gradle.kts
Due: none

chore(deps): update all-flyway to v10.17.3
  backend-lib-database/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update all-flyway to v10.18.0
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-09-09t16-59-28z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.20
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-09-13t20-26-02z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

feat(backend): add metrics to updaters
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/Updater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/dailymotion/DailymotionUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/dailymotion/DailymotionUpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/francetv/FranceTvUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/francetv/FranceTvUpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/gulli/GulliUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/gulli/GulliUpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/mytf1/MyTf1Updater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/mytf1/MyTf1UpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/upload/UploadUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/upload/UploadUpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByXmlUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUpdaterConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/UpdateServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/UpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/dailymotion/DailymotionUpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/francetv/FranceTvUpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/gulli/GulliUpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/mytf1/MyTf1UpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/upload/UploadUpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeApiTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdaterTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByXmlUpdaterTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): add metrics to update:all system
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/UpdateServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.1
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.2
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): manage RSS items in parallel using VT
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Revert "feat(backend): manage RSS items in parallel using VT"
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.3
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.4
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.springframework.boot to v3.3.4
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.5
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.6
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update joseluisq/static-web-server docker tag to v2.33.0
  ui/src/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

feat(backend): add metrics to item repository for creation
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): record metrics about item creation
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/MetricsConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemConfigTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): fetch item for RSS in parallel during update
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Revert "feat(backend): fetch item for RSS in parallel during update"
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(ci): use kaniko's cache for base image build
  .gitlab-ci.yml
Due: none

chore(deps): update minio/minio docker tag to release.2024-09-22t00-33-43z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update all-flyway to v10.18.1
  backend-lib-database/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update dependency gradle to v8.10.2
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.7
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db
