Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 👷 documentation, 🐳 backend, 🐳 init-db, 🐳 storage, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 storage, 🔎 ui

⬇ container analysis db:
  stage: ⬇ download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

⬇ backend:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies :backend-lib-database:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
  ...

⬇ ui-v1:
  stage: ⬇ download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

⬇ ui-v2:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

🧪 backend:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

🧪 database:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

🧪 ui-v2:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

👷 backend-base-image:
  stage: 👷‍ build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

👷 ui-v1:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
  ...

👷 ui-v2:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
  ...

refactor(backend): move CoverHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(types): migrate Types Handler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/selector/UpdaterSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move ItemHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/serverRequest/ServerRequestExtension.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/extension/mockmvc/MockMvcRestExceptionControllerAdvise.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): use virtualthread for Tomcat
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/WebClientConfig.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): move CoverService to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move TagHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): move CoverRepository to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move PlaylistHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move PodcastHandlers to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/serverRequest/ServerRequestExtension.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandlerTest.kt
  backend/src/test/resources/xml/podcast-with-port-not-defined-and-http.xml
  backend/src/test/resources/xml/podcast-with-port-not-defined-and-https.xml
  backend/src/test/resources/xml/podcast-with-x-forwarded-port.xml
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move DownloadHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): move TagRepository to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move UpdateHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/UpdateHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): move TagService to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/Tag.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(deps): introduce tomcat server as backend
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/WebConfig.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(finders): migrate Finders Handler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/FindConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/FindHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/find/FindHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.64
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(backend): update Jooq table after jooq upgrade
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/DefaultCatalog.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/enums/DownloadingState.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/enums/ItemStatus.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Cover.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/DownloadingItem.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/FlywaySchemaHistory.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Item.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Podcast.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/PodcastTags.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Tag.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchList.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchListItems.java
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.springframework.boot to v3.3.0
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.65
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.66
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-04t19-20-08z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.67
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-06t09-36-42z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.68
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.69
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(k8s): upgrade contour to version v1.29.0
  distribution/kubernetes/.infrastructure/contour/contour-gateway-provisioner.yaml
Due: none

test(backend): re-enable ItunesFinder test
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/finders/itunes/ItunesFinder.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/finders/itunes/ItunesFinderConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/find/finders/itunes/ItunesFinderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.jetbrains.kotlinx.kover to v0.8.1
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-11t03-13-30z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update docker/dockerfile docker tag to v1.8.0
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-13t22-53-53z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update plugin com.gradle.common-custom-user-data-gradle-plugin to v2.0.2
  settings.gradle.kts
Due: none

chore(deps): update plugin com.gradle.develocity to v3.17.5
  settings.gradle.kts
Due: none

chore(deps): update joseluisq/static-web-server docker tag to v2.32.0
  ui/src/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

chore(deps): update docker/dockerfile docker tag to v1.8.1
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.70
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.6
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.springframework.boot to v3.3.1
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.7
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Path conditions:
  ⬇ container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ⬇ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ⬇ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ⬇ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🧪 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  👷 ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 documentation: any of: documentation/**/*
  🐳 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 storage: any of: storage/**/*
  🐳 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🔎 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 storage: any of: storage/**/*
  🔎 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
