Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 👷 documentation, 🐳 backend, 🐳 init-db, 🐳 storage, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 storage, 🔎 ui

⬇ container analysis db:
  stage: ⬇ download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

⬇ backend:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies :backend-lib-database:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
  ...

⬇ ui-v1:
  stage: ⬇ download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

⬇ ui-v2:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

🧪 backend:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

🧪 database:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

🧪 ui-v2:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

👷 backend-base-image:
  stage: 👷‍ build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

👷 ui-v1:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
  ...

👷 ui-v2:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
  ...

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.38
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update docker/dockerfile docker tag to v1.7.1
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.39
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.40
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin com.gorylenko.gradle-git-properties to v2.4.2
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update joseluisq/static-web-server docker tag to v2.30.0
  ui/src/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.41
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-04-28t17-53-50z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.42
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-05-01t01-11-10z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.43
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.44
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin io.spring.dependency-management to v1.1.5
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.45
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.46
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.jetbrains.kotlin.plugin.spring to v1.9.24
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.jetbrains.kotlin.jvm to v1.9.24
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(release): release version 2024.5.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 🐳 backend, 🐳 init-db, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 ui

chore(deps): update minio/minio docker tag to release.2024-05-07t06-41-25z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.47
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin com.gradle.develocity to v3.17.3
  settings.gradle.kts
Due: none

chore(deps): update minio/minio docker tag to release.2024-05-10t01-41-38z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update postgres docker tag to v16.3
  .gitlab-ci.yml
Due: none

chore(deps): update plugin com.gradle.develocity to v3.17.4
  settings.gradle.kts
Due: none

chore(deps): update joseluisq/static-web-server docker tag to v2.31.0
  ui/src/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

chore(deps): update joseluisq/static-web-server docker tag to v2.31.1
  ui/src/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

chore(deps): update all-kotlin to v2
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(ci): adjust download task after kotlin 2 introduction
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.springframework.boot to v3.2.6
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(backend): remove jooq tip from every startup
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/PodcastServerApplication.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(dev): add multiple profiles for local development
  Taskfile.yaml
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local-minio.yml
  backend/src/main/resources/application-local-pg.yml
  backend/src/main/resources/application-tools-from-homebrew.yml
  backend/src/main/resources/application.yml
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-05-27t19-17-46z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update minio/minio docker tag to release.2024-05-28t17-19-04z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update plugin com.google.cloud.tools.jib to v3.4.3
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update dependency gradle to v8.8
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

chore(deps): update plugin org.jetbrains.kotlinx.kover to v0.8.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(backend): update kover API after migration to v0.8.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.48
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(release): release version 2024.6.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 🐳 backend, 🐳 init-db, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 ui

refactor(backend): move MessageHandler to non-reactive API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessageHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessagingConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessagingTemplate.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/messaging/MessageHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Path conditions:
  ⬇ container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ⬇ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ⬇ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ⬇ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🧪 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  👷 ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 documentation: any of: documentation/**/*
  🐳 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 storage: any of: storage/**/*
  🐳 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🔎 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 storage: any of: storage/**/*
  🔎 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
