Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ storage, üê≥ ui, üîé backend, üîé init-db, üîé storage, üîé ui

‚¨á container analysis db:
  stage: ‚¨á download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

‚¨á backend:
  stage: ‚¨á download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
    - backend/build

‚¨á ui-v1:
  stage: ‚¨á download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

‚¨á ui-v2:
  stage: ‚¨á download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

üß™ backend:
  stage: üß™ test
  image: gradle:jdk17
  needs:
  - ‚¨á backend
  services:
  - postgres:15.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:flywayMigrate :backend:test
  ...

üß™ database:
  stage: üß™ test
  image: gradle:jdk17
  needs:
  - ‚¨á backend
  services:
  - postgres:15.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

üß™ ui-v2:
  stage: üß™ test
  image: gradle:jdk17
  needs:
  - ‚¨á ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
  ...

üë∑ backend-base-image:
  stage: üë∑‚Äç build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

üë∑ ui-v1:
  stage: üë∑‚Äç build
  image: gradle:jdk17
  needs:
  - ‚¨á ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
  ...

üë∑ documentation:
  stage: üë∑‚Äç build
  needs: []
  image: antora/antora
  script:
  - antora generate documentation/documentation.yml --to-dir documentation/dist
  artifacts:
    paths:
    - documentation/dist/

chore(deps): update plugin com.gradle.common-custom-user-data-gradle-plugin to v1.12.1
  settings.gradle.kts
Due: none

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.4.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update flyway/flyway docker tag to v10.4.0
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.flywaydb.flyway to v10.4.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(task): provide a task to rebase all flyway at once
  Taskfile.yaml
Due: none

chore(deps): update plugin org.jetbrains.kotlin.plugin.spring to v1.9.22
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.flywaydb.flyway to v10.4.1
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.4.1
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update flyway/flyway docker tag to v10.4.1
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(task): improve task for flyway update
  Taskfile.yaml
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.5
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin nu.studer.jooq to v8.2.2
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Cover.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/DownloadingItem.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/FlywaySchemaHistory.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Item.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Podcast.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/PodcastTags.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Tag.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchList.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchListItems.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/CoverRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/DownloadingItemRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/FlywaySchemaHistoryRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/ItemRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PodcastRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PodcastTagsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/TagRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/WatchListItemsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/WatchListRecord.java
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin nu.studer.jooq to v8.2.3
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin nu.studer.jooq to v9
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.6
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.7
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update joseluisq/static-web-server docker tag to v2.24.2
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(certificate): add command to generate certificates for all overlays
  Taskfile.yaml
Due: none

feat(gateway): add support for GatewayAPI in official manifests
  distribution/kubernetes/base/components/gateway/backend.yaml
  distribution/kubernetes/base/components/gateway/frontend.yaml
  distribution/kubernetes/base/components/gateway/kustomization.yaml
  distribution/kubernetes/base/components/storage/embedded/gateway/console/console.yaml
  distribution/kubernetes/base/components/storage/embedded/gateway/console/kustomization.yaml
  distribution/kubernetes/base/components/storage/embedded/gateway/kustomization.yaml
  distribution/kubernetes/base/components/storage/embedded/gateway/storage.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/gateways/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/certs/add-tls.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/certs/tls.crt
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/certs/tls.key
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/minio/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/podcast-server/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/kustomization.yaml
Due: none

chore(distribution): create new podcast.k8s.local env
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/certs/add-tls.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/certs/tls.crt
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/certs/tls.key
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/minio/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/ingress/podcast-server/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/kustomization.yaml
  distribution/kubernetes/overlays/podcast.k8s.local/volume.yaml
  skaffold.yaml
Due: none

chore(dns): add `hostctl` file for local dev
  distribution/kubernetes/.infrastructure/dns/podcast-server.profile
Due: none

chore(distribution): add contour to cluster installation
  Taskfile.yaml
  distribution/kubernetes/.infrastructure/contour/contour-gateway-provisioner.yaml
  distribution/kubernetes/.infrastructure/contour/gateway.yaml
  distribution/kubernetes/.infrastructure/contour/kustomization.yaml
  distribution/kubernetes/.infrastructure/contour/namereference.yaml
  distribution/kubernetes/.infrastructure/contour/tls.crt
  distribution/kubernetes/.infrastructure/contour/tls.key
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/tls.key
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.8
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.jsoup:jsoup to v1.17.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): use virtualThread by default for backend
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): add support for virtualThread for backend
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.9
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(renovate): automerge minor & cie updates to awssdk bom
  .gitlab/renovate.json5
Due: none

chore(release): release version 2023.12.0
  CHANGELOG.md
Due: none

chore(release): release version 2024.1.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.10
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.11
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.12
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(renovate): update internal minio component
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(renovate): add rule for minio
  .gitlab/renovate.json5
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.13
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.23.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-01-11t07-46-16z.fips
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update plugin org.flywaydb.flyway to v10.5.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ‚¨á backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ storage: any of: storage/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé storage: any of: storage/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
