Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ file-system, üê≥ ui, üîé backend, üîé init-db, üîé file-system, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: files-system/**/*) or (any of: backend/**/*, database/**/*))
  ‚¨á backend: any of: backend/**/*, database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, database/**/*
  üë∑ backend: any of: backend/**/*, database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, database/**/*
  üê≥ init-db: any of: backend/**/*, database/**/*
  üê≥ file-system: any of: files-system/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, database/**/*
  üîé init-db: any of: backend/**/*, database/**/*
  üîé file-system: any of: files-system/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

chore(ci): move the frontend-angular project gradle for build
  .gitlab-ci.yml
  frontend-angular/build.gradle.kts
  frontend-angular/pom.xml
  frontend-angular/settings.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  pom.xml
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(ci): move to gradle the frontend-angularjs project
  .gitlab-ci.yml
  dev.sh
  frontend-angularjs/.envrc
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
  frontend-angularjs/pom.xml
  frontend-angularjs/settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(ci): align both frontend project on the same task name at gradle level
  .gitlab-ci.yml
  frontend-angular/build.gradle.kts
  frontend-angularjs/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(ci): fix yarn slow detection problem
  frontend-angular/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(ci): add .yarn cache to gitlab cache
  .gitlab-ci.yml
Due: none

chore(backend): optimize build process
  .gitlab-ci.yml
  backend/build.gradle.kts
  backend/settings.gradle.kts
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/find/finders/itunes/ItunesFinderTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(): remove all wrappers
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  mvnw
  mvnw.cmd
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): move every jobs to same java version
  .gitlab-ci.yml
Due: none

chore(gradle): optimization of the dev mode using skaffold
  backend/build.gradle.kts
  backend/gradlew
  backend/gradlew.bat
  dev.sh
  distribution/kubernetes/docker-for-desktop/backend/backend.yaml
  distribution/kubernetes/docker-for-desktop/database/database.yaml
  distribution/kubernetes/docker-for-desktop/files-system/fs.yaml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(frontend): optimize one task run with gradle
  frontend-angularjs/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(kub): add a default timeout for database to 5 seconds
  distribution/kubernetes/base/database.yaml
Due: none

feat(distribution): add default liveness and readiness in k8s deployment
  distribution/kubernetes/base/backend.yaml
Due: none

fix(updater): move updater to Schedulers.boundedElastic()
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): reduce number of sql queries during update process
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): update should not fetch the possibility existing item before inserting
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): result of update should fetch item by batch and not one by one
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(): move to gradle multi module project and remove BuildSrc
  .gitlab-ci.yml
  backend/build.gradle.kts
  backend/buildSrc/build.gradle.kts
  backend/buildSrc/src/main/kotlin/DatabaseParameters.kt
  backend/gradle/profile-ci.gradle.kts
  backend/gradle/profile-default.gradle.kts
  backend/gradle/profile-skaffold.gradle.kts
  backend/settings.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(skaffold): upgrade skaffold definition
  skaffold.yaml
Due: none

feat(backend): migrate to yt-dlp instead of youtube-dl for compatibility issue with france tv
  backend/src/main/base-image/Dockerfile
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): add prometheus and metrics to follow backend consumption
  backend/build.gradle.kts
  backend/src/main/resources/application.yml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): clean url with more than 100 chars and specials characters
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloadingInformation.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): use temp folder to store downloading file
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemModels.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/francetv/FranceTvUpdater.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to spring boot 2.6.1
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JacksonConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/selector/UpdaterSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdaterTest.kt
  database/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(ui-v1): remove all feature about pause/restart a download
  frontend-angularjs/www/app/app.js
  frontend-angularjs/www/app/common/component/item-menu/item-menu.html
  frontend-angularjs/www/app/common/component/item-menu/item-menu.js
  frontend-angularjs/www/app/common/service/data/downloadManager.js
  frontend-angularjs/www/app/download/download.html
  frontend-angularjs/www/app/download/download.js
  frontend-angularjs/www/app/item/details/item-details.html
  frontend-angularjs/www/app/item/details/item.details.js
  frontend-angularjs/www/app/podcasts/details/episodes/episodes.html
  frontend-angularjs/www/app/podcasts/details/episodes/episodes.js
  frontend-angularjs/www/app/search/search.js
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(skaffold): update the dev script and skaffold config
  dev.sh
  skaffold.yaml
Due: none

feat(ui-v2): remove all feature about pause/restart download
  frontend-angular/src/app/search/search.component.ts
  frontend-angular/src/app/shared/entity.ts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(backend): remove all code about pause/restart/toggle download
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/Downloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/NoOpDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloader.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/NoOpDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to spring boot 2.6.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(distribution): adapt cronjob for database backup
  distribution/kubernetes/base/database.yaml
Due: none

feat(distribution): provide a distribution process with component for database and storage
  distribution/kubernetes/base/components/database/database.yaml
  distribution/kubernetes/base/components/database/kustomization.yaml
  distribution/kubernetes/base/components/storage/kustomization.yaml
  distribution/kubernetes/base/components/storage/storage.yaml
  distribution/kubernetes/base/kustomization.yaml
  distribution/kubernetes/docker-for-desktop/backend/application.yaml
  distribution/kubernetes/docker-for-desktop/ingress/ingress.yaml
  distribution/kubernetes/docker-for-desktop/kustomization.yaml
  distribution/kubernetes/docker-for-desktop/storage/volume.yaml
  distribution/kubernetes/example/standard/kustomization.yaml
  distribution/kubernetes/example/with-custom-storage-location/kustomization.yaml
  distribution/kubernetes/example/with-custom-storage-location/storage/backend.storage.yaml
  distribution/kubernetes/example/with-custom-storage-location/storage/database.storage.yaml
  distribution/kubernetes/example/with-custom-storage-location/storage/fs.storage.yaml
  distribution/kubernetes/example/with-ingress/ingress/ingress.yaml
  distribution/kubernetes/example/with-ingress/ingress/tls.crt
  distribution/kubernetes/example/with-ingress/ingress/tls.key
  distribution/kubernetes/example/with-ingress/kustomization.yaml
  distribution/kubernetes/overlays/all-in-one/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/ingress.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/minio.podcast.k8s.local/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/minio.podcast.k8s.local/tls.key
  distribution/kubernetes/overlays/docker-for-desktop/ingress/podcast.k8s.local/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/podcast.k8s.local/tls.key
  distribution/kubernetes/overlays/docker-for-desktop/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ui/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ui/ui-v1.yaml
  distribution/kubernetes/overlays/docker-for-desktop/volume.yaml
  skaffold.yaml
Due: none

feat(backend): use advanced SQL query to save all updated items from a podcast in one query
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemModels.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(backend): simplify RSS updater
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): use r2dbc connection for database interaction 🚀
  backend/build.gradle.kts
  backend/gradle/profile-ci.gradle.kts
  backend/gradle/profile-default.gradle.kts
  backend/gradle/profile-skaffold.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JooqConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/JOOQUtils.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagRepositoryTest.kt
  distribution/kubernetes/base/backend.yaml
  distribution/kubernetes/base/components/database/kustomization.yaml
  distribution/kubernetes/base/components/storage/kustomization.yaml
  distribution/kubernetes/base/kustomization.yaml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): revert "feat(backend): use r2dbc connection for database interaction 🚀"
  backend/build.gradle.kts
  backend/gradle/profile-ci.gradle.kts
  backend/gradle/profile-default.gradle.kts
  backend/gradle/profile-skaffold.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JooqConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/tag/TagRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/JOOQUtils.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/tag/TagRepositoryTest.kt
  distribution/kubernetes/base/backend.yaml
  distribution/kubernetes/base/components/database/kustomization.yaml
  distribution/kubernetes/base/components/storage/kustomization.yaml
  distribution/kubernetes/base/kustomization.yaml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(distribution): switch to batch/v1 for CronJob objects
  distribution/kubernetes/base/backend.yaml
  distribution/kubernetes/base/components/database/database.yaml
  distribution/kubernetes/overlays/docker-for-desktop/volume.yaml
Due: none
