Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ file-system, üê≥ ui, üîé backend, üîé init-db, üîé file-system, üîé ui

‚¨á container analysis db:
  stage: ‚¨á download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --download-db-only --no-progress --cache-dir .trivy/
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

‚¨á backend:
  stage: ‚¨á download
  image: openjdk:11-slim
  script:
  - ./backend/gradlew $GRADLE_OPTS -p backend/ downloadDependencies -Dscan.tag.exp4-gitlabci
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
    - backend/build

‚¨á ui-v1:
  stage: ‚¨á download
  image: openjdk:8
  script:
  - ./mvnw $MAVEN_CLI_OPTS -f frontend-angularjs/pom.xml frontend:install-node-and-npm frontend:npm@npm-install frontend:jspm@jspm-config frontend:jspm@jspm-install -Djspm_token=$JSPM_GITHUB_AUTH_TOKEN
  cache:
    key:
      files:
  ...

‚¨á ui-v2:
  stage: ‚¨á download
  image: node:11
  script:
  - yarn --cwd frontend-angular
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .yarn
    - frontend-angular/node_modules/

üß™ backend:
  stage: üß™ test
  image: openjdk:11
  needs:
  - ‚¨á backend
  services:
  - postgres:12.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./backend/gradlew $GRADLE_OPTS -p backend/ test -Dscan.tag.exp4-gitlabci
  ...

üß™ ui-v2:
  stage: üß™ test
  image: node:11
  needs:
  - ‚¨á ui-v2
  script:
  - yarn --cwd frontend-angular test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .yarn
    - frontend-angular/node_modules/

üë∑ backend-base-image:
  stage: üë∑‚Äç build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

üë∑ backend:
  stage: üë∑‚Äç build
  image: openjdk:11-slim
  needs:
  - üß™ backend
  services:
  - postgres:12.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

üë∑ ui-v1:
  stage: üë∑‚Äç build
  image: openjdk:8
  needs:
  - ‚¨á ui-v1
  script:
  - ./mvnw $MAVEN_CLI_OPTS -f frontend-angularjs/pom.xml frontend:gulp@build-less frontend:gulp@build-app
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
  ...

üë∑ ui-v2:
  stage: üë∑‚Äç build
  image: node:11
  needs:
  - ‚¨á ui-v2
  script:
  - yarn --cwd frontend-angular build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .yarn
    - frontend-angular/node_modules/

üê≥ init-db:
  stage: üê≥ packaging
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

feat(backend): upgrade storage implemntation to minio:RELEASE.2022-04-01T03-41-39Z
  storage/Dockerfile
Due: none

chore(license): update readme to reflect the current year
  README.md
Due: none

chore(release): release version 2022.4.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(ci): make the documentation dependency-less
  .gitlab-ci.yml
Due: none

chore(backend): upgrade Spring & various build dependencies
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade jooq to version 3.16+
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): use multiset to improve performance during podcast reading operations
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): simplify download database access to improve perf and maintainability
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to spring boot 2.6.7
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2022.5.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(backend): upgrade to spring boot 2.7.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): simplify sql query for search
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): move download state to database instead of memory
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/Downloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/NoOpDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/properties/PodcastServerParameters.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/JOOQUtils.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/properties/PodcastServerParametersTest.kt
  backend/src/test/resources/logback-test.xml
  database/migrations/V5__use-database-for-download-manager.sql
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): channel link in rss targets rss url with parameters
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/serverRequest/ServerRequestExtension.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandlerTest.kt
  backend/src/test/resources/xml/podcast-with-200-items.xml
  backend/src/test/resources/xml/podcast-with-50-items.xml
  backend/src/test/resources/xml/podcast-with-lots-of-parameters.xml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(backend): add kover as alternative code coverage tool
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2022.6.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(frontend): update UI only once after multiple uploads
  frontend-angularjs/www/app/podcasts/details/details.js
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

fix(backend): wrap Files.* operations into Mono to prevent thread starvation
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): update compatibility to ffmpeg v5
  backend/src/main/base-image/Dockerfile
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): remove useless web configuration
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/WebConfig.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): move ffmpeg services to a dedicated package
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): multiple refactor following code analysis
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/PodcastServerApplication.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JacksonConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JooqConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/WebConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/serverRequest/ServerRequestExtension.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/FindPocastInformation.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/FindService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/finders/itunes/ItunesFinderConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/finders/mytf1/MyTf1Finder.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemModels.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/selector/DownloaderSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessageHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/messaging/MessagingConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/type/TypeConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/ProcessService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/Updater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/francetv/FranceTvUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/mytf1/MyTf1Updater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/upload/UploadUpdaterConfig.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): use standard cover for podcasts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/Cover.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/Podcast.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): use kotlin.io.path instead of FilenameUtils
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloadingInformation.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/worker/noop/PassThroughExtractor.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/NoOpDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/selector/DownloaderSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/worker/noop/PassThroughExtractorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandlerTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): remove Extractor logic from code base
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/selector/ExtractorSelector.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/worker/Extractor.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/worker/noop/PassThroughExtractor.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/selector/ExtractorSelectorTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/worker/noop/PassThroughExtractorTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): use attribute instead of function for donwloading item information
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloadingInformation.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloader.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): use kotlin.io.path instead of FilenameUtils
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JacksonConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/database/PathConverter.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/extension/java/net/URI.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/Item.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/Playlist.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): finer definition of liveness probes and readiness probes
  backend/src/main/resources/application.yml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): feat(backend): upgrade to spring boot 2.7.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): add support for integer as limit parameter for RSS
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandlerTest.kt
  backend/src/test/resources/xml/podcast-with-001-items.xml
  backend/src/test/resources/xml/podcast-with-020-items.xml
  backend/src/test/resources/xml/podcast-with-123-items.xml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): increase timeout & failure threshold for liveness probe
  distribution/kubernetes/base/backend.yaml
Due: none

refactor(backend): remove executor config used only by downloader part
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/ExecutorsConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/config/ExecutorsConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfigTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2022.7.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(backend): keep standard name if url is not from a video platform
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): remove suffix from specific url
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to Spring Boot 2.7.2 and other dependencies upgrades
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/find/finders/gulli/GulliFinder.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  database/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2022.8.0
  CHANGELOG.md
Due: none

feat(ci): add Qodana for backend code analysis
  .gitlab-ci.yml
Due: none

feat(backend): upgrade to Spring Boot 2.7.3 and other dependencies upgrades
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2022.9.0
  CHANGELOG.md
Due: none

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: files-system/**/*) or (any of: backend/**/*, database/**/*))
  ‚¨á backend: any of: backend/**/*, database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, database/**/*
  üë∑ backend: any of: backend/**/*, database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, database/**/*
  üê≥ init-db: any of: backend/**/*, database/**/*
  üê≥ file-system: any of: files-system/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, database/**/*
  üîé init-db: any of: backend/**/*, database/**/*
  üîé file-system: any of: files-system/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
