Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 👷 documentation, 🐳 backend, 🐳 init-db, 🐳 storage, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 storage, 🔎 ui

⬇ container analysis db:
  stage: ⬇ download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

⬇ backend:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies :backend-lib-database:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
  ...

⬇ ui-v1:
  stage: ⬇ download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

⬇ ui-v2:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

🧪 backend:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

🧪 database:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

🧪 ui-v2:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

👷 backend-base-image:
  stage: 👷‍ build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

👷 ui-v1:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
  ...

👷 ui-v2:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
  ...

chore(deps): update minio/minio docker tag to release.2024-06-22t05-26-45z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.8
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.9
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-26t01-06-18z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency net.javacrumbs.json-unit:json-unit-assertj to v3.3.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.10
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.11
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-28t09-06-49z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.12
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-06-29t01-20-47z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(ci): add dependency between backend packaging and backend download
  .gitlab-ci.yml
Due: none

chore(release): release version 2024.7.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 🐳 backend, 🐳 init-db, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 ui

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.13
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.14
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.15
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency net.javacrumbs.json-unit:json-unit-assertj to v3.4.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-07-04t14-25-45z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.16
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin io.spring.dependency-management to v1.1.6
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.17
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency org.mockito.kotlin:mockito-kotlin to v5.4.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.18
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency org.jsoup:jsoup to v1.18.1
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-07-10t18-41-49z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.19
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update dependency gradle to v8.9
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

chore(deps): update docker/dockerfile docker tag to v1.9.0
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.jetbrains.kotlinx.kover to v0.8.2
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.20
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-07-13t01-46-15z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update minio/minio docker tag to release.2024-07-15t19-02-30z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency net.javacrumbs.json-unit:json-unit-assertj to v3.4.1
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-07-16t23-46-41z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update plugin org.springframework.boot to v3.3.2
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.21
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update bellsoft/liberica-openjdk-debian docker tag to v21.0.4
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.jetbrains.kotlinx.kover to v0.8.3
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin com.gradle.develocity to v3.17.6
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.22
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.26.23
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Path conditions:
  ⬇ container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ⬇ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ⬇ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ⬇ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🧪 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  👷 ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 documentation: any of: documentation/**/*
  🐳 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 storage: any of: storage/**/*
  🐳 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🔎 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 storage: any of: storage/**/*
  🔎 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
