Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ storage, üê≥ ui, üîé backend, üîé init-db, üîé storage, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ‚¨á backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ storage: any of: storage/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé storage: any of: storage/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

fix(deps): update dependency software.amazon.awssdk:bom to v2.24.13
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-03t17-50-39z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(release): release version 2024.3.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(release): remove echo from release task
  Taskfile.yaml
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-05t04-48-44z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(renovate): group flyway updates
  .gitlab/renovate.json5
Due: none

chore(deps): update all-flyway to v10.9.0
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update docker/dockerfile docker tag to v1.7.0
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-07t00-43-48z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update plugin org.jetbrains.kotlin.jvm to v1.9.23
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update all-flyway to v10.9.1
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.5
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.jetbrains.kotlin.plugin.spring to v1.9.23
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(renovate): group kotlin updates
  .gitlab/renovate.json5
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.6
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update joseluisq/static-web-server docker tag to v2.28.0
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(deps): update minio/minio docker tag to release.2024-03-10t02-53-48z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.7
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.8
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.9
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.10
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-15t01-07-19z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.11
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update all-flyway to v10.10.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.12
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.13
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.14
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.springframework.boot to v3.2.4
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.15
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-21t23-13-43z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(deps): update dependency gradle to v8.7
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.16
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): reset download after unexpected restart
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.17
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.18
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db
