Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ storage, üê≥ ui, üîé backend, üîé init-db, üîé storage, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ‚¨á backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ storage: any of: storage/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé storage: any of: storage/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

chore(deps): update plugin com.google.cloud.tools.jib to v3.4.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): install yt-dlp using pip to get all required deps
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-26t22-10-45z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.19
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.21
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-03-30t09-41-56z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(release): release version 2024.4.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.22
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.23
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.24
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.25
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin com.gradle.common-custom-user-data-gradle-plugin to v2
  settings.gradle.kts
Due: none

chore(deps): update plugin com.gradle.common-custom-user-data-gradle-plugin to v2.0
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.26
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(develocity): migrate to develocity plugin
  backend/build.gradle.kts
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): leverage java 21 image to prevent download of external jdk
  .gitlab-ci.yml
Due: none

chore(): refine function to download dependencies
  .gitlab-ci.yml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(database): update JOOQ classes generated by the generator
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/DefaultCatalog.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Indexes.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Keys.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Public.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Tables.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/enums/DownloadingState.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/enums/ItemStatus.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Cover.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/DownloadingItem.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/FlywaySchemaHistory.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Item.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Podcast.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/PodcastTags.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Tag.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchList.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchListItems.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/CoverRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/DownloadingItemRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/FlywaySchemaHistoryRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/ItemRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PodcastRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PodcastTagsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/TagRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/WatchListItemsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/WatchListRecord.java
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-04-06t05-26-02z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.27
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(metrics): add application name in tag for o11y
  backend/src/main/resources/application.yml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.mockito.kotlin:mockito-kotlin to v5.3.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin com.gradle.develocity to v3.17.1
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.28
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.29
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.30
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.31
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.32
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin com.gradle.develocity to v3.17.2
  settings.gradle.kts
Due: none

chore(deps): update plugin com.gradle.common-custom-user-data-gradle-plugin to v2.0.1
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.33
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.springframework.boot to v3.2.5
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update minio/minio docker tag to release.2024-04-18t19-09-19z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.34
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update bellsoft/liberica-openjdk-debian docker tag to v21.0.3
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.35
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): varchar length is increased to 65535
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Cover.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Item.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Podcast.java
  backend-lib-database/src/main/migrations/V8__increase-multiple-varchar-size.sql
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.36
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.25.37
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db
