Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ file-system, üê≥ ui, üîé backend, üîé init-db, üîé file-system, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: files-system/**/*) or (any of: backend/**/*, database/**/*))
  ‚¨á backend: any of: backend/**/*, database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, database/**/*
  üë∑ backend: any of: backend/**/*, database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, database/**/*
  üê≥ init-db: any of: backend/**/*, database/**/*
  üê≥ file-system: any of: files-system/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, database/**/*
  üîé init-db: any of: backend/**/*, database/**/*
  üîé file-system: any of: files-system/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

feat(backend): upgrade Spring to v3.0.6
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(build): upgrade Gradle Build Tool to v8.1.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(release): release version 2023.5.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(dev): add gradle enterprise for better dev analysis
  .gitlab-ci.yml
  settings.gradle.kts
Due: none

feat(database): migrate CI and components to PG 15.3
  .gitlab-ci.yml
  distribution/kubernetes/base/components/database/database.yaml
Due: none

feat(dev): use different user for connection to GE
  .gitignore
  .gitlab-ci.yml
Due: none

feat(frontend): move to Static Web Server instead of nginx for frontend hosting
  distribution/kubernetes/base/components/ingress/ingress.yaml
  distribution/kubernetes/base/kustomization.yaml
  distribution/kubernetes/base/ui-v1.yaml
  distribution/kubernetes/base/ui-v2.yaml
  skaffold.yaml
  ui/compile.sh
  ui/docker-build.sh
  ui/src/conf/default.conf
  ui/src/docker/Dockerfile
  ui/src/docker/v1.toml
  ui/src/docker/v2.toml
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

fix(dev): update local kustomization for skaffold env
  distribution/kubernetes/overlays/docker-for-desktop/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ui/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ui/ui-v1.yaml
Due: none

fix(youtube): use identifier instead of channelId
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByXmlUpdater.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdaterTest.kt
  backend/src/test/resources/remote/podcast/youtube/androiddevelopers.html
  backend/src/test/resources/remote/podcast/youtube/joueurdugrenier.html
  backend/src/test/resources/remote/podcast/youtube/joueurdugrenier.withoutDescAndCoverAndTitle.html
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(dev): upgrade database version used in skaffold dev.sh file
  dev.sh
Due: none

feat(backend): upgrade to spring boot 3.1.0
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(dev): provide taskfile to automate execution of reccuring tasks
  Taskfile.yaml
  dev.sh
Due: none

feat(dev): upgrade skaffold configuration
  skaffold.yaml
Due: none

chore(release): add task to generate release automatically
  Taskfile.yaml
Due: none

chore(release): release version 2023.6.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(pipeline): cover case when tag and not a branch
  settings.gradle.kts
Due: none

chore(release): release version 2023.6.1
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(dev): add predictive test selection
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(dev): add task to start the database for dev
  Taskfile.yaml
Due: none

feat(release): change variable for gradle-enterprise tag usage
  settings.gradle.kts
Due: none

feat(dev): upgrade gradle-enterprise plugin to v3.13.3 and ccud 1.11
  settings.gradle.kts
Due: none

chore(dev): make Gradle Enterprise an OptIn option
  .envrc
  .gitlab-ci.yml
  settings.gradle.kts
Due: none

chore(ge): add default dead-end url for simpler configuration
  settings.gradle.kts
Due: none

feat(frontend): upgrade static-web-server to v2.17.0
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(storage): upgrade minio to RELEASE.2023-06-02T23-17-26Z
  storage/Dockerfile
Due: none

feat(backend): remove youtube-dl installation from base-image
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(front): move to SWS 2.19
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(backend): upgrade spring boot to version v3.1.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ge): enable flaky test selection
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(git): add local env file for overloading
  .envrc
  .gitignore
Due: none

feat(storage): upgrade minio to RELEASE.2023-06-29T05-12-28Z
  storage/Dockerfile
Due: none

chore(release): release version 2023.7.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(backend): downgrade ffmpeg to version 5.1.1
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(gradle): upgrade to gradle 8.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

feat(ui): upgrade server to 2.20.1
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(storage): upgrade minio to RELEASE.2023-07-21T21-12-44Z
  storage/Dockerfile
Due: none

feat(backend): upgrade spring boot to v3.1.2 and related libraries
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2023.8.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(backend): upgrade minio to version RELEASE.2023-07-21T21-12-44Z
  storage/Dockerfile
Due: none

feat(backend): upgrade SWS to version 2.20.2
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui
