Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ file-system, üê≥ ui, üîé backend, üîé init-db, üîé file-system, üîé ui

‚¨á container analysis db:
  stage: ‚¨á download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --download-db-only --no-progress --cache-dir .trivy/
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

‚¨á backend:
  stage: ‚¨á download
  image: openjdk:11-slim
  script:
  - ./backend/gradlew $GRADLE_OPTS -p backend/ downloadDependencies -Dscan.tag.exp4-gitlabci
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
    - backend/build

‚¨á ui-v1:
  stage: ‚¨á download
  image: openjdk:8
  script:
  - ./mvnw $MAVEN_CLI_OPTS -f frontend-angularjs/pom.xml frontend:install-node-and-npm frontend:npm@npm-install frontend:jspm@jspm-config frontend:jspm@jspm-install -Djspm_token=$JSPM_GITHUB_AUTH_TOKEN
  cache:
    key:
      files:
  ...

‚¨á ui-v2:
  stage: ‚¨á download
  image: node:11
  script:
  - yarn --cwd frontend-angular
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .yarn
    - frontend-angular/node_modules/

üß™ backend:
  stage: üß™ test
  image: openjdk:11
  needs:
  - ‚¨á backend
  services:
  - postgres:12.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./backend/gradlew $GRADLE_OPTS -p backend/ test -Dscan.tag.exp4-gitlabci
  ...

üß™ ui-v2:
  stage: üß™ test
  image: node:11
  needs:
  - ‚¨á ui-v2
  script:
  - yarn --cwd frontend-angular test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .yarn
    - frontend-angular/node_modules/

üë∑ backend-base-image:
  stage: üë∑‚Äç build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

üë∑ backend:
  stage: üë∑‚Äç build
  image: openjdk:11-slim
  needs:
  - üß™ backend
  services:
  - postgres:12.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

üë∑ ui-v1:
  stage: üë∑‚Äç build
  image: openjdk:8
  needs:
  - ‚¨á ui-v1
  script:
  - ./mvnw $MAVEN_CLI_OPTS -f frontend-angularjs/pom.xml frontend:gulp@build-less frontend:gulp@build-app
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
  ...

üë∑ ui-v2:
  stage: üë∑‚Äç build
  image: node:11
  needs:
  - ‚¨á ui-v2
  script:
  - yarn --cwd frontend-angular build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .yarn
    - frontend-angular/node_modules/

üê≥ init-db:
  stage: üê≥ packaging
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

feat(backend): upgrade multiple framework & libraries
  backend/build.gradle.kts
  database/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2022.11.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(backend): add warn log if podcast has no item found
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/Updater.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): Fallback to podcast cover if item cover information is not available
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): use podcast cover as fallback instead of random one 🤷
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): migration to spring boot 3.0.0
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/properties/ExternalTools.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/properties/PodcastServerParameters.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUpdaterConfig.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(k8s): use certificate generated from mkcert for both podcast-server and minio
  distribution/kubernetes/overlays/docker-for-desktop/ingress/ingress.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/minio.podcast.k8s.local/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/minio.podcast.k8s.local/tls.key
  distribution/kubernetes/overlays/docker-for-desktop/ingress/podcast.k8s.local/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/podcast.k8s.local/tls.key
  distribution/kubernetes/overlays/docker-for-desktop/ingress/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/tls.key
Due: none

feat(storage): migrate to minio:RELEASE.2022-11-17T23-20-09Z version
  storage/Dockerfile
Due: none

chore(gradle): upgrade wrapper to version 7.6
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(release): release version 2022.12.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(ci): edit command for auto cleanup in docker-hub
  .gitlab-ci.yml
Due: none

feat(storage): upgrade minio version to RELEASE.2022-12-02T19-19-22Z
  storage/Dockerfile
Due: none

feat(backend): add native gradle plugin to enable processAOT by default
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(database): upgrade flyway to version 9.8.3
  backend/build.gradle.kts
  database/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

wip
  distribution/kpt/podcast-server/Kptfile
  distribution/kpt/podcast-server/fn.yaml
  distribution/kpt/podcast-server/ingress/ingress.yaml
  distribution/kpt/podcast-server/ingress/tls.crt
  distribution/kpt/podcast-server/ingress/tls.key
  distribution/kpt/podcast-server/inventory-template.yaml
  distribution/kpt/podcast-server/kustomization.yaml
  distribution/kpt/podcast-server/storage/backend.storage.yaml
  distribution/kpt/podcast-server/storage/database.storage.yaml
  distribution/kpt/podcast-server/storage/fs.storage.yaml
  distribution/kubernetes/overlays/standalone/ingress/ingress.yaml
  distribution/kubernetes/overlays/standalone/ingress/kustomization.yaml
  distribution/kubernetes/overlays/standalone/installation-parameters/kustomization.yaml
  distribution/kubernetes/overlays/standalone/kustomization.yaml
  distribution/kubernetes/overlays/standalone/storage/all.yaml
  distribution/kubernetes/overlays/standalone/storage/kustomization.yaml
  documentation/modules/ROOT/pages/installation/kubernetes.adoc
Due: üë∑ documentation

feat(distribution): ingress is available as a component
  distribution/kubernetes/base/components/ingress/ingress.yaml
  distribution/kubernetes/base/components/ingress/kustomization.yaml
  distribution/kubernetes/base/components/storage/embedded/backend-set-internal-storage.yaml
  distribution/kubernetes/base/components/storage/embedded/ingress/kustomization.yaml
  distribution/kubernetes/base/components/storage/embedded/ingress/minio-console.yaml
  distribution/kubernetes/base/components/storage/embedded/kustomization.yaml
  distribution/kubernetes/base/components/storage/embedded/storage.yaml
  distribution/kubernetes/overlays/all-in-one/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/add-tls.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/tls.key
  distribution/kubernetes/overlays/docker-for-desktop/ingress/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/minio/kustomization.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/podcast-server/kustomization.yaml
Due: none

feat(backend): use guid for deduplication of items for RSS
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/Item.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/Updater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/rss/RSSUpdater.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  database/migrations/V6__add-guid-support-for-items.sql
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(dev): the cluster creation is integrated into dev.sh
  dev.sh
Due: none

feat(backend): remove the banner.txt causing problem during compile or run
  backend/src/main/resources/banner.txt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): Upgrade backend to Spring Boot 3.0.1
  backend/build.gradle.kts
  backend/src/main/resources/application.yml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): internalise the youtube-dl library
  .gitignore
  .gitlab-ci.yml
  backend-lib-youtubedl/build.gradle.kts
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/DownloadProgressCallback.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDL.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDLException.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDLRequest.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDLResponse.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/mapper/HttpHeader.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/mapper/VideoFormat.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/mapper/VideoInfo.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/mapper/VideoSubtitle.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/mapper/VideoThumbnail.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/utils/StreamGobbler.java
  backend-lib-youtubedl/src/main/java/com/gitlab/davinkevin/podcastserver/youtubedl/utils/StreamProcessExtractor.java
  backend-lib-youtubedl/src/test/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDLRequestTest.java
  backend-lib-youtubedl/src/test/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDLResponseTest.java
  backend-lib-youtubedl/src/test/java/com/gitlab/davinkevin/podcastserver/youtubedl/YoutubeDLTest.java
  backend-lib-youtubedl/src/test/resources/youtube-dl
  backend/build.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlServiceTest.kt
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): externalize all logic into external plugin
  .gitignore
  .gitlab-ci.yml
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
  backend-lib-database/src/main/migrations/V1__schema.sql
  backend-lib-database/src/main/migrations/V2__item-mime-type-not-null.sql
  backend-lib-database/src/main/migrations/V3__item-status-number-of-fail-not-null.sql
  backend-lib-database/src/main/migrations/V4__cover-url-not-null.sql
  backend-lib-database/src/main/migrations/V5__use-database-for-download-manager.sql
  backend-lib-database/src/main/migrations/V6__add-guid-support-for-items.sql
  backend-lib-database/src/main/migrations/V7__migrate-to-enums-to-items.sql
  backend/build.gradle.kts
  backend/gradle/profile-ci.gradle.kts
  backend/gradle/profile-default.gradle.kts
  backend/gradle/profile-skaffold.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/entity/Status.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/ProcessServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/ffmpeg/FfmpegServiceTest.kt
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-database/src/main/kotlin/DatabasePlugin.kt
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-docker-images/src/main/kotlin/DockerImagePlugin.kt
  settings.gradle.kts
  skaffold.yaml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2023.1.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(backend): upgrade multiple libraries in backend
  backend-lib-database/build.gradle.kts
  backend/build.gradle.kts
  dev.sh
  frontend-angular/build.gradle.kts
  frontend-angularjs/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(release): release version 2023.2.0
  CHANGELOG.md
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(build): upgrade to gradle 8.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

feat(build): provide a compatible implementation for coverage plugin
  backend/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  build-logic/build-plugin-print-coverage/src/main/kotlin/PrintCoveragePlugin.kt
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): remove useless variables from youtube updater
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByXmlUpdater.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(mytf1): supports evolutions made in mytf1 graphql API
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/mytf1/MyTf1Updater.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/mytf1/MyTf1UpdaterTest.kt
  backend/src/test/resources/remote/podcast/mytf1/quotidien.query.bonus.json
  backend/src/test/resources/remote/podcast/mytf1/quotidien.query.extract.json
  backend/src/test/resources/remote/podcast/mytf1/quotidien.query.replay.json
  backend/src/test/resources/remote/podcast/mytf1/quotidien.query.root.json
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to spring boot 3.0.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to spring boot 3.0.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2023.3.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(build): upgrade gradle to version 8.0.2
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(build): use dedicated group for each plugin
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: none

chore(build): use version in print coverage plugin
  build-logic/build-plugin-print-coverage/build.gradle.kts
Due: none

feat(backend): upgrade to spring boot 3.0.5
  backend-lib-database/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(storage): upgrade minio component to version minio/minio:RELEASE.2022-12-02T19-19-22Z
  storage/Dockerfile
Due: none

fix(distribution): support custom bucket entry for ingress
  distribution/kubernetes/overlays/docker-for-desktop/ingress/kustomization.yaml
Due: none

chore(release): release version 2023.4.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: files-system/**/*) or (any of: backend/**/*, database/**/*))
  ‚¨á backend: any of: backend/**/*, database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, database/**/*
  üë∑ backend: any of: backend/**/*, database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, database/**/*
  üê≥ init-db: any of: backend/**/*, database/**/*
  üê≥ file-system: any of: files-system/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, database/**/*
  üîé init-db: any of: backend/**/*, database/**/*
  üîé file-system: any of: files-system/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
