Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 👷 documentation, 🐳 backend, 🐳 init-db, 🐳 storage, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 storage, 🔎 ui

⬇ container analysis db:
  stage: ⬇ download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

⬇ backend:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies :backend-lib-database:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
  ...

⬇ ui-v1:
  stage: ⬇ download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

⬇ ui-v2:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

🧪 backend:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

🧪 database:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

🧪 ui-v2:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

👷 backend-base-image:
  stage: 👷‍ build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

👷 ui-v1:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
  ...

👷 ui-v2:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
  ...

chore(deps): update all-flyway to v10.18.2
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(backend): add timer about podcast (singular) update process
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/Updater.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/UpdateServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/UpdaterTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update postgres docker tag to v17
  .gitlab-ci.yml
Due: none

chore(deps): update minio/minio docker tag to release.2024-10-02t17-50-41z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update all-flyway to v10.19.0
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.10
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(release): release version 2024.10.0
  CHANGELOG.md
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 🐳 backend, 🐳 init-db, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 ui

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.16
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.17
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.18
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.19
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update all-kotlin to v2.0.21
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.20
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.21
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-10-13t13-34-11z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.22
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.23
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(front): remove useless logs from SWS
  ui/src/docker/config.toml
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

fix(front): set back compression after update of SWS to v2.33.0
  ui/src/docker/config.toml
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

chore(deps): update all-flyway to v10.20.0
  backend-lib-database/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update flyway/flyway docker tag to v10.20.0
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.24
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.25
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.26
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update bellsoft/liberica-openjdk-debian docker tag to v21.0.5
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin com.google.cloud.tools.jib to v3.4.4
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.27
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.28
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.28.29
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.springframework.boot to v3.3.5
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update docker/dockerfile docker tag to v1.11.0
  backend-lib-database/src/main/docker/Dockerfile
  backend/src/main/base-image/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-10-29t16-01-48z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.29.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.flywaydb.flyway to v10.20.1
  backend-lib-database/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(ci): improve CI
  .gitlab-ci.yml
  .gitlab/ci/container-analysis.yaml
  .gitlab/ci/gradle-build-tool.yaml
  .gitlab/ci/utils.yaml
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.29.4
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update all-flyway to v10.20.1
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency net.javacrumbs.json-unit:json-unit-assertj to v3.5.0
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.29.5
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.29.6
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Path conditions:
  ⬇ container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ⬇ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ⬇ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ⬇ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🧪 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  👷 ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 documentation: any of: documentation/**/*
  🐳 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 storage: any of: storage/**/*
  🐳 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🔎 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 storage: any of: storage/**/*
  🔎 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
