Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ storage, üê≥ ui, üîé backend, üîé init-db, üîé storage, üîé ui

‚¨á container analysis db:
  stage: ‚¨á download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

‚¨á backend:
  stage: ‚¨á download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
    - backend/build

‚¨á ui-v1:
  stage: ‚¨á download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

‚¨á ui-v2:
  stage: ‚¨á download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

üß™ backend:
  stage: üß™ test
  image: gradle:jdk17
  needs:
  - ‚¨á backend
  services:
  - postgres:15.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:flywayMigrate :backend:test
  ...

üß™ database:
  stage: üß™ test
  image: gradle:jdk17
  needs:
  - ‚¨á backend
  services:
  - postgres:15.3-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

üß™ ui-v2:
  stage: üß™ test
  image: gradle:jdk17
  needs:
  - ‚¨á ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
  ...

üë∑ backend-base-image:
  stage: üë∑‚Äç build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

üë∑ ui-v1:
  stage: üë∑‚Äç build
  image: gradle:jdk17
  needs:
  - ‚¨á ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
  ...

üë∑ documentation:
  stage: üë∑‚Äç build
  needs: []
  image: antora/antora
  script:
  - antora generate documentation/documentation.yml --to-dir documentation/dist
  artifacts:
    paths:
    - documentation/dist/

feat(test): move to kover for better kotlin coverage management
  .gitlab-ci.yml
  backend/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  build-logic/build-plugin-print-coverage/src/main/kotlin/PrintCoveragePlugin.kt
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(ui): move to SWS v2.22.0
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(coverage): remove codecov because based on irelevant jacoco results
  .gitlab-ci.yml
Due: none

fix(backend): remove download from virtual thread executor
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(tasks): add task to copy to github source code
  Taskfile.yaml
Due: none

chore(tasks): remove useless folders not mounted anymore in k3d
  Taskfile.yaml
Due: none

fix(youtube): support new channel format based on @handle
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUpdaterConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUtils.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdaterTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to minio RELEASE.2023-09-27T15-22-50Z
  storage/Dockerfile
Due: ‚¨á container analysis db, üê≥ storage, üîé storage

chore(release): release version 2023.10.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

refactor(database): Rename WATCH_LIST to PLAYLIST
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Keys.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Public.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Tables.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Playlist.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/PlaylistItems.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchListItems.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PlaylistItemsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PlaylistRecord.java
  backend-lib-database/src/main/migrations/V8__rename_watchlist_to_playlist.sql
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): Add cover to playlist
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Keys.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Routines.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV1.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV1mc.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV3.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV4.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV5.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNil.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsDns.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsOid.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsUrl.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsX500.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Playlist.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PlaylistRecord.java
  backend-lib-database/src/main/migrations/V9__add-cover-to-playlist.sql
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/Playlist.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/image/ImageService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(youtube): Add support of url with `/channel/<channel_id>` for compatibility
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUtils.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdaterTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

wip
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/Playlist.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistXmlHandler.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(renovate): add renovate config
  .gitlab/renovate.json5
Due: none

chore(release): release version 2023.11.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(deps): update bellsoft/liberica-openjdk-debian docker tag to v21.0.1
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): allow merge train from CI
  .gitlab-ci.yml
Due: none

chore(deps): update dependency gradle to v8.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

chore(ci): fetch images using docker credentials to avoid rate limit
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): use docker hub credentials when running trivy inside CI
  .gitlab-ci.yml
Due: none

chore(deps): update plugin org.springframework.boot to v3.1.5
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.graalvm.buildtools.native to v0.9.28
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.jetbrains.kotlin.plugin.spring to v1.9.20
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.jetbrains.kotlin.jvm to v1.9.20
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): disable automatic rebase of branch to not interfere with merge train
  .gitlab/renovate.json5
Due: none

chore(deps): update postgres docker tag to v15.4
  .gitlab-ci.yml
Due: none

chore(deps): update plugin com.gradle.enterprise to v3.15.1
  settings.gradle.kts
Due: none

chore(deps): update joseluisq/static-web-server docker tag to v2.23.0
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(deps): update flyway/flyway docker tag to v9.22.3
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency com.github.tomakehurst:wiremock-jre8-standalone to v2.35.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin com.google.cloud.tools.jib to v3.4.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency com.fasterxml.jackson.core:jackson-databind to v2.15.3
  backend-lib-youtubedl/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.jsoup:jsoup to v1.16.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.15
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update junit5 monorepo to v5.10.0
  backend-lib-youtubedl/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.jetbrains.kotlinx.kover to v0.7.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.flywaydb.flyway to v9.22.3
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency net.javacrumbs.json-unit:json-unit-assertj to v2.38.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency net.bramp.ffmpeg:ffmpeg to v0.8.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ‚¨á backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ storage: any of: storage/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé storage: any of: storage/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
