Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ⬇ container analysis db, ⬇ backend, ⬇ ui-v1, ⬇ ui-v2, 🧪 backend, 🧪 database, 🧪 ui-v2, 👷 backend-base-image, 👷 ui-v1, 👷 ui-v2, 👷 documentation, 🐳 backend, 🐳 init-db, 🐳 storage, 🐳 ui, 🔎 backend, 🔎 init-db, 🔎 storage, 🔎 ui

⬇ container analysis db:
  stage: ⬇ download
  image:
    name: aquasec/trivy
    entrypoint:
    - ''
  script:
  - trivy --cache-dir .trivy/ image --download-db-only --no-progress
  cache:
    key: trivy-database
    paths:
    - .trivy
  retry: 2

⬇ backend:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :backend:downloadDependencies :backend-lib-youtubedl:downloadDependencies :backend-lib-database:downloadDependencies
  cache:
    key:
      files:
      - backend/build.gradle.kts
      prefix: backend
    paths:
    - .gradle/
  ...

⬇ ui-v1:
  stage: ⬇ download
  image: gradle:jdk17
  before_script:
  - apt update && apt install bzip2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:downloadDependencies
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
    paths:
  ...

⬇ ui-v2:
  stage: ⬇ download
  image: gradle:jdk17
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:downloadDependencies
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

🧪 backend:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  ...

🧪 database:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ backend
  services:
  - postgres:16.2-alpine
  variables:
    POSTGRES_USER: pg-user
    POSTGRES_PASSWORD: LUiUwCfPwhGx1rQaUJEa7L09mdifP1Es
    POSTGRES_DB: podcast-server-db
  script:
  - ./gradlew $GRADLE_OPTS backend-lib-database:generateJooq
  - git diff || true
  ...

🧪 ui-v2:
  stage: 🧪 test
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:yarn_test
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
    - frontend-angular/.gradle
    - frontend-angular/node_modules/

👷 backend-base-image:
  stage: 👷‍ build
  needs: []
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  ...

👷 ui-v1:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v1
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angularjs:build
  artifacts:
    paths:
    - frontend-angularjs/target/dist/
  cache:
    key:
      files:
      - frontend-angularjs/npm-shrinkwrap.json
      - frontend-angularjs/www/config.js
      prefix: ui-v1
  ...

👷 ui-v2:
  stage: 👷‍ build
  image: gradle:jdk17
  needs:
  - ⬇ ui-v2
  script:
  - ./gradlew $GRADLE_OPTS :frontend-angular:build
  artifacts:
    paths:
    - frontend-angular/dist/
  cache:
    key:
      files:
      - frontend-angular/yarn.lock
      prefix: ui-v2
    policy: pull
    paths:
    - .gradle
    - .yarn
  ...

feat(playlist): add default cover for playlist in `rss`
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/Playlist.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistXmlHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/rss/Channel.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistXmlHandlerTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(playlist): add cover redirection management
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/CoverExists.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/ToExternalUrl.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistXmlHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(playlist): Rename WATCH_LIST to PLAYLIST
  frontend-angularjs/www/app/common/component/item-menu/item-menu.html
  frontend-angularjs/www/app/common/component/watchlist-chooser/watchlist-chooser.html
  frontend-angularjs/www/app/player/player.html
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

refactor(backend): refactor delete method to leverage sealed class for simplification
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/Item.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/Podcast.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/DeleteObject.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(playlist): add cover insert into database
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Keys.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Routines.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV1.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV1mc.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV3.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV4.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidGenerateV5.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNil.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsDns.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsOid.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsUrl.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/routines/UuidNsX500.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Cover.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Playlist.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PlaylistRecord.java
  backend-lib-database/src/main/migrations/V10__add-cover-to-playlist.sql
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/Playlist.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/CoverExists.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistXmlHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastRepositoryTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): collocate logic about playlist cover download/upload
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/Upload.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/UpdateServiceTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

feat(playlist): add cover insert into database
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(playlist): add extra mediatype for download
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/image/ImageService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(frontend): disable compression-static to avoid double gzip
  ui/src/docker/config.toml
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.3
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update all-flyway to v10.17.1
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(playlist): merge playlist and item SQL queries
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepositoryTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(playlist): deleteById performs in one transaction
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(playlist): save performs one less roundtrip to the db
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistRepository.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.4
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update joseluisq/static-web-server docker tag to v2.32.2
  ui/src/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ ui-v1, ⬇ ui-v2, 🧪 ui-v2, 👷 ui-v1, 👷 ui-v2, 🐳 ui, 🔎 ui

chore(deps): update dependency gradle to v8.10
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.5
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.6
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.7
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-08-17t01-24-54z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

chore(deps): update plugin com.gradle.develocity to v3.18
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.8
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.9
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.10
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update all-flyway to v10.17.2
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update all-kotlin to v2.0.20
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.11
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.12
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(backend): update jooq generated classes
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/PlaylistItems.java
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update plugin org.springframework.boot to v3.3.3
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-08-26t15-33-07z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.13
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.14
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.15
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.16
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

chore(deps): update minio/minio docker tag to release.2024-08-29t01-40-52z
  storage/Dockerfile
Due: ⬇ container analysis db, 🐳 storage, 🔎 storage

fix(deps): update dependency software.amazon.awssdk:bom to v2.27.17
  backend/build.gradle.kts
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move ffmpeg downloader to dedicated package
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloader.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/ffmpeg/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/selector/DownloaderSelectorTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

refactor(backend): move noop downloader to dedicated package
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/selector/DownloaderSelector.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/noop/NoOpDownloaderTest.kt
Due: ⬇ container analysis db, ⬇ backend, 🧪 backend, 🧪 database, 👷 backend-base-image, 🐳 backend, 🐳 init-db, 🔎 backend, 🔎 init-db

Path conditions:
  ⬇ container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ⬇ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ⬇ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ⬇ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🧪 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🧪 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  👷 ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  👷 documentation: any of: documentation/**/*
  🐳 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🐳 storage: any of: storage/**/*
  🐳 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  🔎 backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  🔎 storage: any of: storage/**/*
  🔎 ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
