Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ storage, üê≥ ui, üîé backend, üîé init-db, üîé storage, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: storage/**/*) or (any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*))
  ‚¨á backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ database: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üê≥ storage: any of: storage/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé init-db: any of: backend/**/*, backend-lib-youtubedl/**/*, backend-lib-database/**/*
  üîé storage: any of: storage/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

chore(deps): update plugin org.jetbrains.kotlin.plugin.spring to v1.9.21
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.jetbrains.kotlin.jvm to v1.9.21
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.mockito.kotlin:mockito-kotlin to v5.2.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.37
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): release version 2023.12.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ database, üß™ ui-v2, üë∑ backend-base-image, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(backend): use spring boot management for all modules
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): build with Java 21 as target for Kotlin code
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(backend); remove native plugin to avoid AOT generation
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.springframework.boot to v3.2.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(backend); remove awaitility dependency already provided by SB
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.mockito.kotlin:mockito-kotlin to v5.2.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): migrate to flyway v10 for docker image and build scripts
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.38
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): remove merge request mode
  .gitlab-ci.yml
Due: none

chore(deps): update plugin com.gradle.enterprise to v3.16
  settings.gradle.kts
Due: none

chore(deps): update plugin com.gradle.common-custom-user-data-gradle-plugin to v1.12.1
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.39
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.41
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.42
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update flyway/flyway docker tag to v10.2.0
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.2.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.flywaydb.flyway to v10.2.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.43
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.44
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.45
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin com.gradle.enterprise to v3.16.1
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.21.46
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update postgres docker tag to v16
  .gitlab-ci.yml
  Taskfile.yaml
  distribution/kubernetes/base/components/database/database.yaml
Due: none

chore(deps): update flyway/flyway docker tag to v10.3.0
  backend-lib-database/src/main/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency org.flywaydb:flyway-database-postgresql to v10.3.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.flywaydb.flyway to v10.3.0
  backend-lib-database/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.0
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(): revert until I update the Develocity Instance
  settings.gradle.kts
Due: none

chore(): move to new develocity instance
  .envrc
  .gitlab-ci.yml
  settings.gradle.kts
Due: none

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.1
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(deps): update dependency software.amazon.awssdk:bom to v2.22.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.jetbrains.kotlin.jvm to v1.9.22
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(deps): update plugin org.springframework.boot to v3.2.1
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üß™ database, üë∑ backend-base-image, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db
