Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ file-system, üê≥ ui, üîé backend, üîé init-db, üîé file-system, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: files-system/**/*) or (any of: backend/**/*, database/**/*))
  ‚¨á backend: any of: backend/**/*, database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, database/**/*
  üë∑ backend: any of: backend/**/*, database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, database/**/*
  üê≥ init-db: any of: backend/**/*, database/**/*
  üê≥ file-system: any of: files-system/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, database/**/*
  üîé init-db: any of: backend/**/*, database/**/*
  üîé file-system: any of: files-system/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

fix(backend): temporary fix for insert .. select using ${1-n} in string
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemRepository.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemRepositoryTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): remove all reference to "master" branch from project
  .gitlab-ci.yml
  ui/docker-build.sh
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(ci): upgrade curl image for docker image deleting
  .gitlab-ci.yml
Due: none

chore(): remove useless settings files
  frontend-angular/settings.gradle.kts
  frontend-angularjs/settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(git): use configuration for changelog generation
  cliff.toml
Due: none

chore(release): release version 2022.1.0
  CHANGELOG.md
  backend/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

chore(init-db): create a specific module and simplify dependencies to backend
  .gitlab-ci.yml
  backend/build.gradle.kts
  init-db/Dockerfile
  init-db/build.gradle.kts
  init-db/migrations/V1__schema.sql
  init-db/migrations/V2__item-mime-type-not-null.sql
  init-db/migrations/V3__item-status-number-of-fail-not-null.sql
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(git): remove root build directory
  .gitignore
Due: none

feat(backend): upgrade spring boot to 2.6.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(storage): support external bucket system
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/cover/CoverService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemModels.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/PodcastServerApplicationTests.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/cover/CoverServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/podcast/PodcastXmlHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/storage/FileStorageServiceTest.kt
  distribution/kubernetes/base/backend.yaml
  distribution/kubernetes/base/components/storage/backend-set-internal-storage.yaml
  distribution/kubernetes/base/components/storage/kustomization.yaml
  distribution/kubernetes/base/components/storage/storage.yaml
  distribution/kubernetes/overlays/docker-for-desktop/ingress/ingress.yaml
  distribution/kubernetes/overlays/docker-for-desktop/kustomization.yaml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): remove dependencies between tests and build
  .gitlab-ci.yml
Due: none

fix(ci): publish backend image to latest if on default branch
  backend/gradle/profile-ci.gradle.kts
  backend/gradle/profile-skaffold.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): use a simpler solution to instantiate the jackson mapper
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/JacksonConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/config/JacksonConfigTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to JOOQ 3.16.2
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): use a ffmpeg 4.4 by default
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(dev): link base image to backend in skaffold
  skaffold.yaml
Due: none

chore(release): release version 2022.2.0
  CHANGELOG.md
Due: none

feat(frontend): reduce number of element in navbar for mobile viewer
  frontend-angularjs/www/index.html
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(ci): add index.html as input in frontend-angularjs build.gradle.kts
  frontend-angularjs/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

fix(security): set back the security analysis for every components
  .gitlab-ci.yml
  .gitlab/scans/gitlab.tpl
Due: none

test(backend): test api configuration inside spring context
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/config/BeanConfigScan.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/service/properties/Api.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUpdaterConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/service/properties/ApiTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeApiTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

test trivy template
  .gitlab-ci.yml
  .gitlab/scans/gitlab.tpl
Due: none

feat(backend): upgrade to spring boot 2.6.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): update git-cliff configuration for future release
  cliff.toml
Due: none

chore(release): release version 2022.3.0
  CHANGELOG.md
Due: none

feat(backend): add initial support for native compilation
  .gitlab-ci.yml
  backend/build.gradle.kts
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(distribution): provide a default namespace in kustomize component
  distribution/kubernetes/base/components/namespace/kustomization.yaml
  distribution/kubernetes/base/components/namespace/namespace.yaml
  distribution/kubernetes/overlays/docker-for-desktop/kustomization.yaml
Due: none

refactor(download): relocate download manager into download package
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/AbstractDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/Downloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/manager/downloader/NoOpDownloader.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/downloaders/youtubedl/YoutubeDlDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemConfigTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/DownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/FfmpegDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/NoOpDownloaderTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/downloader/RTMPDownloaderTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(download-manager): intermediate modifcation before migration to SQL
  backend/gradle/profile-default.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/manager/ItemDownloadManagerTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(download-manager): intermediate modifications before migration to SQL
  backend/gradle/profile-default.gradle.kts
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandler.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManager.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/item/ItemService.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/UpdateService.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/DownloadHandlerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/download/ItemDownloadManagerTest.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/item/ItemServiceTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(backend): usage of type inside build configuration
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(ci): change url following deprecation into GitHub
  frontend-angularjs/npm-shrinkwrap.json
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

fix(frontendjs): change dependency used during jspm build
  frontend-angularjs/package.json
  frontend-angularjs/www/app/config/font-awesome/font-awesome.less
  frontend-angularjs/www/config.js
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(gradle): upgrade to gradle wrapper 7.4.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

feat(backend): upgrade to spring boot 2.6.5
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(release): change version inside files
  backend/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

feat(database): upgrade flyway to version 8.5.5
  backend/build.gradle.kts
  database/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(database): prevent usage of null value for COVER object
  database/migrations/V4__cover-url-not-null.sql
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(frontend): use new cover placeholder for podcast creation
  frontend-angularjs/www/app/podcasts/creation/creation.html
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(dev): upgrade jib & skaffold to last version
  backend/build.gradle.kts
  skaffold.yaml
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db
