Repository davinkevin/Podcast-Server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üë∑ documentation, üê≥ backend, üê≥ init-db, üê≥ file-system, üê≥ ui, üîé backend, üîé init-db, üîé file-system, üîé ui

Path conditions:
  ‚¨á container analysis db: (any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*) or ((any of: files-system/**/*) or (any of: backend/**/*, database/**/*))
  ‚¨á backend: any of: backend/**/*, database/**/*
  ‚¨á ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  ‚¨á ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üß™ backend: any of: backend/**/*, database/**/*
  üß™ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ backend-base-image: any of: backend/**/*, database/**/*
  üë∑ backend: any of: backend/**/*, database/**/*
  üë∑ ui-v1: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ ui-v2: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üë∑ documentation: any of: documentation/**/*
  üê≥ backend: any of: backend/**/*, database/**/*
  üê≥ init-db: any of: backend/**/*, database/**/*
  üê≥ file-system: any of: files-system/**/*
  üê≥ ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*
  üîé backend: any of: backend/**/*, database/**/*
  üîé init-db: any of: backend/**/*, database/**/*
  üîé file-system: any of: files-system/**/*
  üîé ui: any of: frontend-angular/**/*, frontend-angularjs/**/*, ui/**/*

chore(release): automate the release process from the project using task
  Taskfile.yaml
Due: none

feat(database): upgrade libraries related to database
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/docker/Dockerfile
Due: none

refactor(database): use new `=` syntax in gradle file for database lib
  backend-lib-database/build.gradle.kts
Due: none

feat(database): add generated classes instead of generating them on every build
  .gitignore
  .gitlab-ci.yml
  backend-lib-database/build.gradle.kts
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/DefaultCatalog.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Indexes.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Keys.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Public.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/Tables.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/enums/DownloadingState.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/enums/ItemStatus.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Cover.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/DownloadingItem.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/FlywaySchemaHistory.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Item.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Podcast.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/PodcastTags.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/Tag.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchList.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/WatchListItems.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/CoverRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/DownloadingItemRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/FlywaySchemaHistoryRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/ItemRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PodcastRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/PodcastTagsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/TagRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/WatchListItemsRecord.java
  backend-lib-database/src/main/java/com/github/davinkevin/podcastserver/database/tables/records/WatchListRecord.java
Due: none

feat(database): add a check to verify if
  .gitlab-ci.yml
Due: none

fix(database): keep jackson libs for flyway lib in init-db
  backend-lib-database/src/main/docker/Dockerfile
Due: none

refactor(backend): use simpler syntaxt for RUN in backend base-image
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(): remove code logic related to database startup in tasks/skaffold
  Taskfile.yaml
  build-logic/build-plugin-database/src/main/kotlin/DatabasePlugin.kt
Due: none

chore(gradle): upgrade to version 8.2.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

feat(frontend): upgrade SWS to v2.21.0
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

chore(readme): update the copyright for 2023
  README.md
Due: none

chore(idea): add logo to the project
  .gitignore
  .idea/icon.png
Due: none

chore(supoort): add logo to tools offering licenses for the project
  README.md
Due: none

doc(readme): add detail about local development
  README.md
Due: none

chore(readme): add better project description
  README.md
Due: none

feat(frontend): upgrade SWS to 2.21.1
  ui/src/docker/Dockerfile
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

feat(frontend): unify configuration for SWS between v1 and v2
  distribution/kubernetes/base/ui-v1.yaml
  distribution/kubernetes/base/ui-v2.yaml
  ui/src/docker/Dockerfile
  ui/src/docker/config.toml
  ui/src/docker/v2.toml
Due: ‚¨á container analysis db, ‚¨á ui-v1, ‚¨á ui-v2, üß™ ui-v2, üë∑ ui-v1, üë∑ ui-v2, üê≥ ui, üîé ui

fix(skaffold): watch ui folder for frontend components
  skaffold.yaml
Due: none

feat(backend): upgrade to spring v3.1.3
  backend-lib-database/build.gradle.kts
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to minio RELEASE.2023-08-23T10-07-06Z
  storage/Dockerfile
Due: none

feat(backend): upgrade spring dependency management to v1.1.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

fix(backend): revert heredoc syntaxt not supported by kaniko
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade minio to version RELEASE.2023-08-31T15-31-16Z
  storage/Dockerfile
Due: none

chore(release): release version 2023.9.0
  CHANGELOG.md
  Taskfile.yaml
  backend-lib-database/build.gradle.kts
  backend-lib-youtubedl/build.gradle.kts
  backend/build.gradle.kts
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  frontend-angular/build.gradle.kts
  frontend-angular/package.json
  frontend-angularjs/build.gradle.kts
  frontend-angularjs/npm-shrinkwrap.json
  frontend-angularjs/package.json
Due: ‚¨á container analysis db, ‚¨á backend, ‚¨á ui-v1, ‚¨á ui-v2, üß™ backend, üß™ ui-v2, üë∑ backend-base-image, üë∑ backend, üë∑ ui-v1, üë∑ ui-v2, üê≥ backend, üê≥ init-db, üê≥ ui, üîé backend, üîé init-db, üîé ui

fix(playlist): fix test about item removal from playlist
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

test(playlist): expand testing for handler
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/playlist/PlaylistHandlerTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

refactor(youtube): simplification of the call to the reactor API for youtube updated
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdater.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdaterTest.kt
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(youtube): use google api to extract playlist id instead of html parsing
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdater.kt
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeUpdaterConfig.kt
  backend/src/test/kotlin/com/github/davinkevin/podcastserver/update/updaters/youtube/YoutubeByApiUpdaterTest.kt
  backend/src/test/resources/remote/podcast/youtube/androiddevelopers.html
  backend/src/test/resources/remote/podcast/youtube/androiddevelopers.json
  backend/src/test/resources/remote/podcast/youtube/joueurdugrenier.id.json
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(backend): update certificate for local development
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/tls.crt
  distribution/kubernetes/overlays/docker-for-desktop/ingress/certs/tls.key
Due: none

chore(ci): upgrade to gradle:jdk17 to build the app instead of OpenJDK17 image
  .gitlab-ci.yml
Due: none

chore(build): upgrade to graalvm 0.9.26
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(build): upgrade to kover 0.7.3
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(build): upgrade to gradle 8.3
  build-logic/build-plugin-database/build.gradle.kts
  build-logic/build-plugin-docker-images/build.gradle.kts
  build-logic/build-plugin-print-coverage/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(ci): add bzip2 for dependency download
  .gitlab-ci.yml
Due: none

chore(skaffold): upgrade to skaffold/v4beta6 the skaffold config
  skaffold.yaml
Due: none

feat(init-db): upgrade to debian12 java images
  backend-lib-database/src/main/docker/Dockerfile
Due: none

feat(backend): upgrade to liberica-debian based on java 17
  backend/src/main/base-image/Dockerfile
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

chore(build): upgrade to graalvm 0.9.27
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(backend): upgrade to spring v3.1.4
  backend/build.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db

feat(java): upgrade backend to JVM 21
  backend/build.gradle.kts
  backend/src/main/base-image/Dockerfile
  backend/src/main/kotlin/com/github/davinkevin/podcastserver/download/DownloadConfig.kt
  gradle.properties
  settings.gradle.kts
Due: ‚¨á container analysis db, ‚¨á backend, üß™ backend, üë∑ backend-base-image, üë∑ backend, üê≥ backend, üê≥ init-db, üîé backend, üîé init-db
